<!DOCTYPE html>
<html>
 
<!-- Custom styles for this template -->
<link href="/css/preLoginLayout.css" rel="stylesheet">

<header class="masthead">
    <div class="container h-100">
        <div class="row justify-content-md-center h-100">
            <div class="col-lg-7 my-auto">
                <div class="header-content mx-auto">
                    <form id="signin" name="signin" method="post" action="signin">
                        <label for="email">Email Address</label>
                        <input class="form-control" name="email" type="text" required/>
                        <br />
                        <label for="password">Password</label>
                        <input name="password" class="form-control" type="password" required/>
                        <br />
                        <div class="row justify-content-md-center">
                            <div class="col text-center">
                                <a href="/signup" class="btn btn-primary" type="reset">SIGN UP</a>
                            </div>
                            <div class="col text-center">
                                <button class="btn btn-success" type="submit">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>